@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header {
    background-color: black;
    height: 200px;
    color: white;
}
header h1 {
    padding-top: 30px;
    text-align: center;
}
header p {
    text-align: center;
}
header a:hover {
    text-decoration: underline;
}
main p {
    font-family: cursive;
    font-style: italic;
}
#texto-flor {
    color: white;
    background-color: rgba(0, 0, 0, 0.326);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}
footer a {
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}